---
tls_domains:
  - www01.host.com
  - www02.host.com

admin_email: administrator@mail.host.com

ssmtp:
  mailhub: mail.host.com:587 
  rewriteDomain: mail.host.com
  authuser: mail_username
  authpass: BadP@ssw0rd

mariadb:
  root_password: "BadP@ssw0rd"

wordpress:
  version: 4.8.2
  checksum: md5:38f302bf2e340ea1bebb93d0a2b89119
  db_name: wordpressdb
  db_user: wordpress
  db_password: "BadP@ssw0rd"

#
nginx:
  webroot: /var/www
  owner: www-data
  group: www-data
  listen: /run/php/php7.0-fpm.sock
  fastcgi_pass: unix:/run/php/php7.0-fpm.sock
 
